#pixel-perfect-overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2147483646; /* High z-index */
  pointer-events: none; /* Default to allow clicking through */
}

#pixel-perfect-overlay-container.draggable {
  pointer-events: auto;
  cursor: move;
}

#pixel-perfect-overlay-image {
  position: absolute;
  top: 50px;
  left: 50px;
  opacity: 0.5;
  transform-origin: top left;
  transform: scale(1);
  filter: invert(0);
}

#pixel-perfect-controls {
  position: fixed;
  top: 20px;
  right: 20px;
  background: white;
  border: 1px solid #999;
  z-index: 2147483647; /* Highest z-index */
  width: 170px;
  pointer-events: auto;
}

#pixel-perfect-controls-header {
  padding: 4px;
  border-bottom: 1px solid #999;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: grab;
}
#pixel-perfect-controls-header:active {
  cursor: grabbing;
}


#pixel-perfect-controls-body {
  padding: 4px;
}
#pixel-perfect-controls.minimized #pixel-perfect-controls-body {
  display: none;
}


.control-group {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.control-group label {
  font-weight: normal;
}
.control-group input[type="number"], .control-group input[type="range"] {
  width: 100%;
  box-sizing: border-box;
}

.input-row {
  display: flex;
  gap: 8px;
}
.input-row > div {
  flex: 1;
}

#image-list-container {
  margin-top: 8px;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #999;
  padding: 2px;
}
.image-list-item {
  display: flex;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}
.image-list-item:hover {
  background: #eee;
}
.image-list-item.active {
  background: #ccc;
}
.image-list-item img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  margin-right: 4px;
  border: 1px solid #999;
}
.image-list-item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
